<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="welcome-landing">
      <h1>Welcome</h1>
      <div id="contBtn">
        <button id="contBtn-inline"><a href="#about">Continue</a></button>
      </div>
    </div>
    <div class="about" id="about">
      <h1>ABOUT ME</h1>
      <p>There's a lot I could say about myself. Programming has always been a hobby of mine.
      The first time I touched a computer was when I was 6. I started taking them apart and rebuilding
        them at age 8. I aspired for Computer Engineering, but am currently enrolled in Computer Science.
      </p>
    </div>
    <div class="technologies">
      <h1>TECHNOLOGIES</h1>
    </div>
  </body>
</html>

